<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
   Currently pursuing <b>Bachelor of Technology, in Information Technology</b> from <b>St. Thomas' College of Engineering and Technology, Kolkata</b>. I am pursuing research on <b>Artificial Intelligence in Natural Language Processing and Machine Learning</b>. My papers have been accepted by Springer for publication in the <b>AISC series</b><br /><br />

   Additionally, I have also worked as a research intern at <b> Jadavpur University</b> to work with the more hardware related aspects of Machine Learning, particularly robotics <br /><br />
  
Also I have experience in numerous projects in developing <b>Expert Systems</b> using technologies like Python, MATLAB and related toolboxes, and Robotstudio  with RAPID.

</div><!--//summary-->
</section><!--//section-->
