<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
   I am a second year PhD student at <b>Rochester Institute of Technology</b> in Rochester, New York. My current research involves investigating 
   dynamic stiffening and softening in colloidal networks. I am working with Dr. Moumita Das in the Mathematical Modelling department of my university.
   <br>Prior to joining my current school, I was a student at <b>Texas A&M University-Commerce</b> where I pursued a <b>Bachelor of Science </b>
   in Mathematics with a minor in Computer Science.</br>
   
   
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="lauren-melcher-152209102"><a class="LI-simple-link" href='https://www.linkedin.com/in/lauren-melcher-152209102?trk=profile-badge'>Lauren Melcher</a></div>                 

</div><!--//summary-->
</section><!--//section-->
