<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
   I am currently a Ph.D. student at the <b>Rochester Institute of Technology, New York</b> researching in applied Machine Learning and Artificial Intelligence. 
   <br> Previously I have completed a four-year <b>Bachelor of Technology</b> in <b>Information Technology</b> from West Bengal University of Technology Kolkata</b></br>.
   <br> You can read more about my previous research and skills in the links given below</br>
</div><!--//summary-->
</section><!--//section-->
