 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
   <div class="item">
    <h4 class="degree">PhD in Computer Science</h4>
    <h5 class="meta">Uninversity of Illinois at Chicago</h5>
    <div class="time">(Spring 2020 - )</div>
</div><!--//item-->
  <div class="item">
    <h4 class="degree">PhD in Computing and Information Sciences</h4>
    <h5 class="meta">Rochester Institute of Technology</h5>
    <div class="time">(Fall 2018 - Summer 2019)</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.Tech in Information Technology</h4>
    <h5 class="meta">St Thomas' College of Engineering and Technology</h5>
    <div class="time">2014 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">High School</h4>
    <h5 class="meta">The Frank Anthony Public School(CISCE)</h5>
    <div class="time">Passed-2014</div>
</div><!--//item-->
</div><!--//education-container-->
