 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
   <div class="item">
    <h4 class="degree">PhD in Mathematical Modelling</h4>
    <h5 class="meta">Rochester Institute of Technology</h5>
    <div class="time">(Fall 2018 - )</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BS in Mathematics</h4>
    <h5 class="meta">Texas A&M University-Commerce</h5>
    <div class="time">2014 - 2018</div>
</div><!--//item-->
</div><!--//education-container-->
