 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.Tech in Computer Science</h4>
    <h5 class="meta">St Thomas College(WBUT)</h5>
    <div class="time">2008 - 2012</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Matriculation</h4>
    <h5 class="meta">The Assembly fo God Church School(CBSE)</h5>
    <div class="time">LNG-2008</div>
</div><!--//item-->
</div><!--//education-container-->
