<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Aug 2019 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">Graduate Research Assistant at Rochester Institute of Technology, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>My current role is a <b>Graduate Research Assistant</b> at the Rochester Institute of Technology. </p><p>My research consists of investigating colloidal networks as a model system that can dynamically switch between crosslinked and unlinked states via crosslinkers.</p>
                      <p>We also use Brownian Dynamics simulations and analyzing properties, such as the degree order in the
system, connected clusters size, and the mechanical rigidity of the system as a function of time for
                        different volume fractions of colloids and crosslinking kinetics.</p>
                      <p>Our results can provide insights into the design of self-sustaining soft materials that can autonomously
transition between solid-like and 
uid-like states, and how the properties of such materials can be tuned.</p>
                </div><!--//details-->
                </div><!--//item-->  
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Aug '18 - Jan '19</div>
                        </div><!--//upper-row-->
                        <div class="company">Rochester General Hospital, Rochester, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>My work used Elsevier Knowledge Graph database to build known interactions reported to linking cytokines. It also Encoded set of ordinary differential equations characterizing concentration patterns of main cytokines</p>
                      <p> In this work system parameters were estimated using partial least squares (PLS) to mitigate instability on coeffcient
values that resulted from collinearity between regressor variables</p>
                      <p>Results showed IL6 separates infrequent and frequent episodes well based on frequent episodes and
cytokines IL2, IL7, and MCP1 separate patient exacerbation levels within infrequent episodes</p>
                  </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Thesis</h3>
                            <div class="time">Jun '19 - Aug '19</div>
                        </div><!--//upper-row-->
                        <div class="company">Thesis on developing set of Error-Correcting codes, Texas A&M University-Commerce</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>We constructed punctured generalized codes and defined parameters and the complete weight distribution
using Magma software and derived a set of Reed-Muller codes from our set of punctured codes.</p>
                      <p>I presented the findings at MAA Texas meeting and successfully defended my thesis in Fall 2017.</p>
                      <p>Results were accepted and published in peer-reviewed mathematics journals and the research was supported by <b>FERP Grant</b></p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">May '17 - Aug '17</div>
                        </div><!--//upper-row-->
                        <div class="company">Internship at the University of Kansas</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>For my internship I Developed extended simulation model of clonal interference with varying mutational effects in C code. For small populations, the simulation model demonstrated eects of Muller's Ratchet in population
fitness levels</p>
                      <p>I presented my research at the summer research symposium. The work was funded by the National Science Foundation.</p>
                    </div><!--//details-->
                </div><!--//item-->                
            </section><!--//section-->
