<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
               
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant for Programming Language Design</h3>
                            <div class="time">Jan '20 - May '20</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Illinois at Chicago</div>
                    </div><!--//meta-->
                    <div class="details">
                      </p>Responsibilities included, but were not limited to, providing one on one academic advising to students. Design and detailing of assignments, homework, and projects in course.</p>
                    </div><!--//details-->
                </div><!--//item--> 
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Jan '20 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Natural Language Processing Laboratory, UIC.</div>
                    </div><!--//meta-->
                    <div class="details">
                      </p>I work as a research assistant at the Natural Language Laboratory at the <b>University of Illinois at Chicago</b>. My research encompasses using both, classical and modern NLP techniques to solve problems in the areas of figurative language and computational social science.</p>
                    </div><!--//details-->
                </div><!--//item-->  
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Summer 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Graduate Research Assistant at Multidisciplinary Vision Research Laboratory, RIT, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I worked as a <b>Graduate Research Assistant</b> at the <b>MVRL</b> at the Chester F. Carlson Center
                        for Imaging Science, Rochester, NY, USA.</p><p>My research consisted of feature extraction, localization, and prediction on human iris models using Deep Learning and Machine Learning techniques.</p>
                    </div><!--//details-->
                </div><!--//item-->  
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Aug '18 - Jan '19</div>
                        </div><!--//upper-row-->
                        <div class="company">Graduate Research Assistant at the Computational Biomedicine Laboratory, RIT, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I worked as a <b>Graduate Research Assistant</b> at the Computational Biomedicine Laboratory at the Rochester Institute
                      of technology, NY, USA.</p><p>My research consisted of uncertainty quantification and model personalization for patient specific cardiac models.</p>
                    </div><!--//details-->
                </div><!--//item-->
                                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Jun '16 - Aug '16</div>
                        </div><!--//upper-row-->
                        <div class="company">Jadavpur University, Kolkata</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I worked with <b> Dr. Amit Konar </b> and other PhD students to use an <b> ABB IRB 120 robot </b> to work according to human will. Towards the end of my intern the robot was able to draw shapes, trace simple figures, and follow paths according to user input and wants.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
