<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">First Author and Researcher</h3>
                            <div class="time">Nov '16 - May '17</div>
                        </div><!--//upper-row-->
                        <div class="company">Research on NLP and Text Flitration</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I researched under <b>Prof. Amit Dutta and Dr. Aruna Chakraborty</b> to effectively extract three keywords from domain specific document sets. These were filtered by neural networks for better results. All of the work was done on Python (3.4.3) and MATLAB (2016b) a high level of accuracy was obtained. </p>  
                      <p>The paper has been published in the <b>Springer AISC series</b> in the proceedings of the <b>INDIA - 2017</b> conference</p>
                      <p>Check it out <a href="https://link.springer.com/chapter/10.1007%2F978-981-10-7512-4_67"> here</a></p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">First Author and Researcher</h3>
                            <div class="time">Mar '17 - Aug '17</div>
                        </div><!--//upper-row-->
                        <div class="company">Research on Newspaper Scraping and Reverse Searching</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I researched to enchance the way in which e-newspapers are read and utilised by a user. The research was aimed to enhance usage of an e-newspaper and also to increase the amount of details obtainable from the same source. All of the work was done in Python (3.4.3) and the results were impressive.</p> <p> The work was accepted for publication in the <b> Springer AISC Series </b> at the <b> FICTA 2017 conference, Bhubaneshwar </b> 
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Jun '16 - Aug '16</div>
                        </div><!--//upper-row-->
                        <div class="company">Jadavpur University, Kolkata</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>I worked with <b> Dr. Amit Konar </b> and other PhD students to use an <b> ABB IRB 120 robot </b> to work according to human will. Towards the end of my intern the robot was able to draw shapes simple figures, trace paths and work according to user input and wants.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
