<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Non Academic Work and Hobbies</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                  <p><b>Hiking and Travelling:</b> I enjoy hiking across trails and have hiked across multiple parks across New York state including the Adirondacks, Stony Brook, and Bristol Hills. I have also travelled across the US and internationally to China. </p>  
                </div><!--//item-->
                <div class="item">
                  <p><b> Animal lover:</b> Over the years, I have owned and taken care of multipe animals and birds. Currently, I own a cat from a rescue shelter, who I have adopted and take care of.</p>
                </div><!--//item-->
                <div class="item">
                  <p><b>Sports Enthusiast:</b> I swim as a side hobby and also closely follow multiple sports including the United States figure skating. </p> 
                </div><!--//item-->
            </section><!--//section-->
