<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Aliexpress Orders</a></span> - <span class="project-tagline">A Python based command line script to export your aliexpress orders into a csv sheet or json file.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">PDFParser</a></span> - 
                    <span class="project-tagline">A PDF Parser to parse account statements for credit cards/banks. Some(though comparatively much less) customisation is needed to get it work for specific statement formats.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"></a></span> - <span class="project-tagline">An ELK(Elastic/Logstash/Kibana) Dashboard to report trends from twitter. I took the use case of US Presidential Elections 2016 to perform sentiment analysis and report on a dashboard where they stand</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">ValueResearchonline.com Scrapper</a></span> - <span class="project-tagline">A python script that helps you scrap Valueresearchonline.com stock and MF metrics. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->
