<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-gamepad"></i>Non Technical Work</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                  <p><b>Educator of English at Unacademy:</b> I taught English and functional grammar at Unacademy, India's largest free education initiative. The courses in total had 9000+ followers</p>
                  <p>You can find the course <a href="https://unacademy.com/user/ankitaich09">here</a></p>  
                </div><!--//item-->
                <div class="item">
                  <p><b>Singer and Musician:</b> I am a huge fan of classic rock music from the 60s. One of my major hobbies is to play the guitar and sing along. Although I mostly play covers of my favorite songs, I also like to compose my original music in my spare time. </p> 
                </div><!--//item-->
                <div class="item">
                  <p><b> Practitioner of Shotokan Karate:</b> I have been practicing traditional karate and martial art since a very young age. I have a 1st Kyu belt in Shotokan Karate. Also I have studied about various other forms of traditional martial art</p>
                </div><!--//item-->
                <div class="item">
                  <p><b>Orator and Public Speaker:</b> I have been a public speaker since seventh grade. I have participated in many debates, extempores, and other competitions. Participation has ranged from intra-institute to national and international levels. I have also been the director and judge of some public speaking events in the institutions I have attended.</p> 
                </div><!--//item-->
            </section><!--//section-->
