<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-book"></i>publications</h2>


<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Scaled Conjugate Gradient Backpropagation Algorithm for Keyword Extraction</h3>
                        </div><!--//upper-row-->
                      <div class="Authors"><b>Ankit Aich </b> Amit Dutta, Aruna Chakraborty</div>
                    </div><!--//meta-->

                </div><!--//item-->
                
  
  
<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Crawler-Parser Based Approach to Newspaper Scraping and Reverse Searching of Desired Articles</h3>
                        </div><!--//upper-row-->
                      <div class="Authors"><b>Ankit Aich </b> Amit Dutta, Aruna Chakraborty</div>
                    </div><!--//meta-->

                </div><!--//item-->
                
                
              </section><!--//section-->
