<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-book"></i>publications</h2>


<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Scaled Conjugate Gradient Backpropagation Algorithm for Keyword Extraction</h3>
                        </div><!--//upper-row-->
                      <div class="Authors"><b>Ankit Aich</b>Amit Dutta, Aruna Chakraborty/div>
                    </div><!--//meta-->

                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">First Author and Researcher</h3>
                            <div class="time">Mar '17 - Aug '17</div>
                        </div><!--//upper-row-->
                        <div class="company">Research on Newspaper Scraping and Reverse Searching</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I researched to enchance the way in which e-newspapers are read and utilised by a user. The research was aimed to enhance usage of an e-newspaper and also to increase the amount of details obtainable from the same source. All of the work was done in Python (3.4.3) and the results were impressive.</p> <p> The work was accepted for publication in the <b> Springer AISC Series </b> at the <b> FICTA 2017 conference, Bhubaneshwar </b> 
                        <p> Check it out <a href="https://link.springer.com/chapter/10.1007/978-981-10-7563-6_15"> here</a></p>                        
                    </div><!--//details-->
                </div><!--//item-->

              </section><!--//section-->
